*
{
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.navbar
{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;/*jate shob same line a ashe*/
    align-items: center; /*height er center a antese*/
    justify-content: space-evenly;
}

.nav-logo
{
    height: 50px;
    width: 100px;
}

.logo
{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.border
{
    border:1.5px solid transparent;
}

.border:hover
{
    border: 1.5px solid white;
}

/* box2*/
.address-to
{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.address{
    font-size: 1rem;
    left:3px;
}

.add-icon
{
    display: flex;
    align-items: center;
}


/*box-search*/
.nav-search
{
    display: flex;
    background-color: antiquewhite;
    width: 657px;
    height: 40px;
    border-radius: 3px;
    justify-content: space-evenly;
}

.nav-search:hover
{
    border: 2px solid orange;
}

.searchSelect
{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.searchInput
{
    width: 100%;
    font-size: large;
    border: none;
}

.search-icon
{
    width: 45px;
    display: flex;
    justify-content: center;/*horizontally center*/
    align-items: center;/*vertically*/
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color:  #0f1111;
}

/*box4*/
span{
    font-size: 0.7rem;

}

.nav-sec
{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */
.nav-cart i /* image er jonno*/
{
    font-size: 30px;
}

.nav-cart 
{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */

.panel
{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panelOptions p
{
    display: inline;
    margin-left: 15px;
}

.panelOptions
{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals
{
    font-size: 0.95rem;
    font-weight: 700;
}


/*Hero Section: Big Image*/
.hero-section
{
    background-image: url("Below_navbar.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: flex-end; /* vertically niche set krlam*/
    justify-content: center;
}

.hero-msg
{
    color: black;
    background-color: #f3f3f3;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px; /*nicher theke upore set korlam ektu upore*/
}

.hero-msg a{
    color:#007185;
}


/* Shop*/
.shop
{
    display: flex;
    
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    background-color: rgba(193, 113, 124, 0.41);
}

.box
{
    width:23%;
    height: 400px;
    background-color: white;
    padding: 20px 0px 15px;
    margin:1%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.box-img
{
    height: 275px;;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a
{
    color: #007185;
    
}

/*footer*/

footer
{
    margin-top: 10;;
    width:5000px
}

.footpanel1
{
    background-color: #37475a;
    color: white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 0.85rem;
}

.footpanel2
{
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.footpanel3
{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logofoot
{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}


.footpanel4
{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.75rem;
    text-align: center;
}

.pages
{
    padding-top:25px;
}


.copyright
{
    padding-top:5px;
}